.course
    height: 100vh
    width: 100vw
    display: flex
    flex-direction: row
    gap: $XXXL*1.25
    justify-content: center
    align-items: center
    padding-top: $XL
    color: $color_light
    font-family: $font

    &__image
        height: 100%
        width: 60%
        display: flex
        justify-content: center
        align-items: center
        position: relative

        &__photo
            height: 85%
            z-index: 10

    &__info
        height: 100%
        width: 40%
        display: flex
        flex-direction: column
        justify-content: center
        gap: $M

        &__line
            height: $XXS/2
            width: 20%
            background-color: $color_line
             min-width: 400px

        &__title
            width: 50%
            font-size: $L
            white-space: pre-wrap
            min-width: 400px

        &__paragraph
            width: 65%
            min-width: 400px

        &__link
            width: max-content            
            display: flex
            flex-direction: row
            align-items: center
            min-width: 400px            

            &__text
                color: $color_primary                
                font-weight: 500
                margin-right: $XXXS
                border-bottom: 2px solid transparent

                &:hover
                    border-bottom: 2px solid $color_primary



@media (max-width: 1570px)
    .course        

        &__info

        &__image

            &__photo
                height: 75%

@media (max-width: 1350px)
    .course
        gap: $XXXL
                      
        &__info

        &__image

            &__photo
                height: 65%

@media (max-width: 1250px)
    .course
        gap: $XL
                      
        &__info
            width: 40%
        &__image
            width: 60%
            &__photo
                height: 55%


@media (max-width: 1000px)
    .course
        padding-top: $M       
        height: 80vh   

        &__info                
            justify-content: center
            align-items: center
            padding-left: $XL
            padding-left: 0

            &__title
                text-align: center

            &__paragraph
                text-align: center     

            &__link
                justify-content: center      
                
        &__image
            display: none