.header
    position: absolute
    top: 0
    left: 0
    height: calc($XXL * 1.2)
    max-height: calc($XXL * 1.2)
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    padding: $XXS 0
    font-family: $font
    color: $color_light
    z-index: 999

    &__nav
        width: 60%
        display: flex
        flex-direction: row
        gap: $XXL
        justify-content: center

        &__title
            font-size: $M

        &__list
            display: flex
            flex-direction: row
            gap: $S
            list-style: none
            align-items: center

            &__item

                &__link
                    color: $color_light
                    cursor: pointer
                    border-bottom: 1px solid transparent

                    &:hover
                        border-bottom: 1px solid $color_light
    &__access
        width: 40%
        display: flex
        flex-direction: row
        gap: $L
        justify-content: start
        align-items: center

        &__login
            color: $color_light
            cursor: pointer
            border-bottom: 1px solid transparent

            &:hover
                border-bottom: 1px solid $color_light

    &__menu
        display: none
        cursor: pointer

    &__scroll
        background-color: $color_bg
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
        margin-top: -2px
        position: fixed
        top: 0
        left: 0
        animation: slideIn 0.5s ease-in-out alternate

        .header

            &__nav

                &__title
                    cursor: pointer

            &__access
                justify-content: center

            &__menu
                width: max-content
                margin-right: 10px

@media (max-width: 1250px)
    .header
        justify-content: space-between

        &__access
            justify-content: center

@media (max-width: 1000px)
    .header
        padding: $XS $S 

        &__nav
            justify-content: start

            &__list
                display: none

        &__access
            display: none                

        &__menu
            display: flex
            

@keyframes slideIn
    from
        transform: translateY(-100%)

    to
        transform: translateY(0)
