.info
    display: flex
    flex-direction: column
    gap: $XS
    align-items: center
    color: $color_light
    font-family: $font

    &__subtitle
        font-size: $XS
        color: $color-text

    &__title
        font-size: $XXL

    &__paragraph
        font-size: $XS
        line-height: $S
        text-align: center
        white-space: pre-wrap
