.join
    height: 100vh
    width: 100vw
    position: relative

    &__figure
        
        &--1
            position: absolute
            top: 0
            left: 0
            height: 95%

        &--2
            position: absolute
            top: 0
            right: 0
            height: 45%

    &__content
        height: 100%
        width: 100%
        display: flex
        flex-direction: row
        z-index: 1